.profile {
  padding: 60px 20px 0 20px;
}

.button {
  background-color: #3897F0;
  color: white;
  padding: 0 9px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  margin-left: 15px;
  border: 0;
}

.avatar {
  border: 3px solid #C52693;
  padding: 5px;
  width: 168px;
  height: 168px;
  border-radius: 50%;
}

.avatar--small {
  width: 50px;
  height: 50px;
  padding: 2px;
}

.avatar img {
  width: 320px;
  text-align: center;
}

.avatar--small img {
  width: 100%;
  border-radius: 50%;
}

.profile__name {
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
}


.fa-certificate {
  color: #3897F0;
  font-size: 20px;
  margin-left: 8px;
}

.stats {
  list-style-type: none;
  padding-left: 0;
  margin: 20px 0;
}

.stats li:not(:last-of-type) {
  margin-right: 40px;
}

.profile p {
  margin: 0;
  line-height: 25px;
}

.options {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
  border-top: 1px solid #EFEFEF;
}

.options__item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #999;
  height: 100%;
  line-height: 52px;
  position: relative;
}

.options__item i {
  margin-right: 6px;
}

.options__item:not(:last-of-type) {
  margin-right: 60px;
}

.options__item--selected {
  color: #262626;
}

.options__item--selected::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #262626;
  position: absolute;
  top: -1px;
}

.certification {
  position: relative;
}

.certification .fa-check {
  position: absolute;
  color: white;
  left: 12px;
  font-size: 9px;
  top: 5px;
}

.certification--small .fa-check {
  font-size: 7px;
  left: 11px;
  top: 5px;
}

.certification--small .fa-certificate {
  font-size: 15px;
}

.profile__image {
  width: 290px;
  text-align: center;
  margin-right: 30px;
}
