header {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.nav {
  height: 77px;
  padding: 0 20px;
}

.nav__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.grid {
  display: flex;
}

.grid--center {
  align-items: center;
}

.grid--separate {
  justify-content: space-between;
}

.logo {
  font-size: 27px;
}

.logo__name {
  height: 29px;
  margin-top: 13px;
}

.logo__separator {
  height: 28px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  border: 0;
  margin: 0 16px;
}

.search__box {
  width: 215px;
  height: 28px;
  border: 1px solid #DBDBDB;
  color: #262626;
  background-color: #FAFAFA;
  border-radius: 3px;
  font-size: 14px;
  padding: 0 5px;
  text-align: center;
}

.search__box::placeholder {
  color: #999;
}

.nav__link {
  color: #3897F0;
  padding: 0 9px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  margin-left: 15px;
}

.nav__link--selected {
  background-color: #3897F0;
  color: white;
}

.suggestion {
  font-size: 14px;
  padding: 15px;
}

.suggestion:not(:last-of-type) {
  border-bottom: 1px solid #EFEFEF;
}

.suggestion img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #e74a57;
  padding: 2px;
}

.suggestion__content p {
  margin: 0;
  color: #999;
}

ul[role="listbox"] {
  max-height: 362px;
  overflow: scroll;
}

[role="listbox"] li:not(:last-of-type) {
  border-bottom: 1px solid #EFEFEF;
}

.suggestion__link {
  width: 100%;
}
