* {
  /*outline: 1px solid red;*/
}

.media {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.media__picture {
  margin: 0 15px 30px;
  position: relative;
}

.media__picture img {
  display: block;
  width: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.media__overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 17px;
  opacity: 0;
}

.media__picture:hover .media__overlay {
  opacity: 1;
}

.media__overlay span:not(:last-of-type) {
  margin-right: 15px;
}

.fa-video-camera::before,
.fa-files-o::before {
  content: "";
}

.fa-video-camera,
.fa-files-o {
  background-image: url("https://www.instagram.com/static/bundles/metro/sprite_mediatypes_2x_3be21f338c88.png/3be21f338c88.png");
  background-size: 65px 65px;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-video-camera {
  background-position: 0 -33px;
}

.fa-files-o {
  background-position: 0 0;
}
