body {
  background-color: #FAFAFA;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
}

.center {
  height: calc(100vh - 78px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home p {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.home img {
  width: 136px;
}
